body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    text-align: center;
    background-color: #4CAF50;
    padding: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.login-box {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box input {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-box button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sensor-dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 cột */
    gap: 15px;
    justify-items: center;
    margin-top: 20px;
}

.sensor-box {
    width: 180px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sensor-box img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.sensor-box h3 {
    font-size: 18px;
    margin: 10px 0;
}

.sensor-box p {
    font-size: 16px;
    color: #333;
}

#logout-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}